.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.pageHeader {
   text-align: center; 

}
.shop {
    flex-basis: 25%;  /* Make each child element the same width */
    border: 1px dotted black;
    padding: .75;
    text-size-adjust:center ;
    color: blueviolet;
    
}


}